* {

    margin: 0%;
    padding: 0%;

}

@font-face {

    font-family: 'fuente_Principal';
    src: url(fonts/KGRedHands.ttf);

}

@font-face {

    font-family: 'fuente_secundaria';
    src: url(fonts/RifficFree-Bold.ttf);

}

body {

    background-color: azure;

}

.imagen {
    
    width: 50%;
    height: 90%;

}

.rectangulo-base {

    width: 50%;
    background-color: black;

}


.rectangulo-titulo {

    position: relative;
    left: 55%;
    width: 41%;
    background-color: black;
}

h1{
     
    font-family: fuente_Principal;
    color: white;
    position: relative;
   
}

h2 {

    font-family: fuente_secundaria;
    color: white;
    position: relative;

}

.arroba {

    background: transparent;
    border-radius: none;
    border: none;
    color: white;
    position: relative;

}

.correo_electronico {

    font-family: 'Times New Roman', Times, serif;
    color:white;
    position: relative;

}

.nombre_mail {

    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: relative;

}

.arroba_2 {
    
    background: transparent;
    border-radius: none;
    border: none;
    color: white;
    position: relative;

}

.correo_respaldo {

    font-family:'Times New Roman', Times, serif ;
    color: white;
    position: relative;
}

.mail_respaldo {

    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: relative;

}

.icon_linedin {
     
    background: transparent;
    border-radius: none;
    border: none;
    color:white;
    position: relative;

}

.Linkedin {

    font-family: 'Times New Roman', Times, serif;
    color: white;
    position: relative;

}

.link_likedin {

    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: relative;

}

.icon-telefono {

    background: transparent;
    border-radius: none;
    border: none;
    color:white;
    position: relative;

}

.telefono {

    font-family: 'Times New Roman', Times, serif;
    color: white;
    position: relative;

}

.num-telf {

    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: relative;
}

.Gustos {

    font-family: fuente_secundaria;
    color: white;
    position: relative;

}

.icon_programming {
    
    background: transparent;
    border-radius: none;
    border: none;
    color:white;
    position: relative;
    
}

.icon_swimming {

    background: transparent;
    border-radius: none;
    border: none;
    color:white;
    position: relative;

}

.icon_comunicate {

    background: transparent;
    border-radius: none;
    border: none;
    color:white;
    position: relative;

}

.icon_gamepad {

    background: transparent;
    border-radius: none;
    border: none;
    color:white;
    position: relative;
    
}

.icon_statistics {

    background: transparent;
    border-radius: none;
    border: none;
    color:white;
    position: relative;
    
}

.icon_music {

    background: transparent;
    border-radius: none;
    border: none;
    color:white;
    position: relative;

}

.Logros { 

    font-family: fuente_secundaria;
    color: white;
    position: relative;

}

.Resumen {

    font-family: fuente_Principal;
    color: black;
    position: relative;

}

.Rectagulo_descripcion {

    position: relative;
    left: 55%;
    width: 42%;
    background-color: black;

}

.description {

    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    position: relative;
    
    
}

.Habilidades {

    font-family: fuente_Principal;
    color: black;
    position: relative;
    
}

.Rectagulo_Habilidades {

    position: relative;
    left: 55%;
    width: 42%;
    background-color: black;

}

.description_Habilidades {

    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    position: relative;
    

}

.Formacion {

    font-family: fuente_Principal;
    color: black;
    position: relative;

}

.Linea1 {

    position: relative;
    left: 55%;
    width: 42%;
    background-color: black;

}

.Preparatoria {

    font-family: fuente_secundaria;
    color: black;
    position: relative; 


}

.certificado {

    font-family: 'Times New Roman', Times, serif;
    color: black;
    position: relative;

}

.periodo {

    font-family: 'Times New Roman', Times, serif;
    color: black;
    position: relative;

}

.Linea2 {

    position: relative;
    left: 55%;
    width: 42%;
    background-color: black;

}

.Voluntariado {

    font-family: fuente_Principal;
    color: black;
    position: relative;

}

.Conjuvecyh {

    font-family: fuente_secundaria;
    color: black;
    position: relative; 

}

.perido-voluntariado {

    font-family: 'Times New Roman', Times, serif;
    color: black;
    position: relative; 

}

.Linea3 {
    
    position: relative;
    left: 55%;
    width: 42%;
    background-color: black;

}



/* screen laptop */

@media (min-width: 921px) and (max-width: 5000px) { 

    .rectangulo-base {

        height: 5000px;
    }
    
    .rectangulo-titulo {

        height: 300px;
        bottom: 6800px;

    }

    h1{

        font-size: 500%;
        bottom: 7000px;
        left: 61%;
        
    }


    h2 {

        font-size: 700%;
        bottom: 5310px;
        left: 11%;

    }

    .arroba {

        bottom: 5192px;
        left: 2%;
        font-size: 600%;

    }

    .correo_electronico{

        font-size: 450%;
        bottom: 5340px;
        left:5%;

    }

    .nombre_mail {

        font-size: 315%;
        bottom: 5320px;
        left: 5%;

    }

    .arroba_2 {

        font-size: 600%;
        bottom: 5200px;
        left: 2%;

    }

    .correo_respaldo{

        font-size: 450%;
        bottom: 5350px;
        left: 5%;

    }

    .mail_respaldo {

        font-size: 400%;
        bottom: 5335px;
        left: 5% ;
    }

    .icon_linedin {

        font-size: 900%;
        bottom: 5220px;
        left: 2%;
    }

    .Linkedin {

        font-size: 450%;
        bottom: 5390px;
        left: 6%;
    }

    .link_likedin {

        font-size: 320%;
        bottom: 5370px;
        left: 6%;
    }
    
    .icon-telefono {

        font-size: 900%;
        bottom: 5250px;
        left: 2%;
    }

    .telefono {

        font-size: 450%;
        bottom: 5440px;
        left: 6%;
    }

    .num-telf {

        font-size:400%;
        bottom: 5405px;
        left: 6%;
    }

    .Gustos {

        font-size: 900%;
        bottom:5250px ;
        left: 15%;

    }

    .icon_programming {

        font-size: 2100%;
        bottom: 5100px;
        left: 2%;
        
    }

    .icon_swimming {

        font-size: 2100%;
        bottom: 5100px;
        left: 9%;
    }

    .icon_comunicate {

        font-size: 2100%;
        bottom: 5100px;
        left: 19%;
    }
    
    .icon_gamepad {

        font-size: 2100%;
        bottom: 4600px;
        right: 26%;

    }

    .icon_statistics {

        font-size: 2100%;
        bottom: 4600px;
        right: 20%;

    }

    .icon_music {

        
        font-size: 2100%;
        bottom: 4600px;
        right: 11%;

    }

    .Logros {

        font-size: 900%;
        bottom:4365px ;
        left: 8%;
        
    }

    .codigo_qr {

        position: relative;
        width:20% ;
        bottom:4150px;       
        left: 11%;

    }

    .Resumen {

        font-size: 900%;
        bottom:9900px ;
        left: 55%;
        
    }

    .Rectagulo_descripcion {

        height: 600px;
        bottom: 9850px;

    }

    .description {

        font-size: 300%;
        left: 58%;
        bottom: 10380px;
    }

    .Habilidades {

        font-size: 800%;
        bottom: 10100px;
        left: 55%;
    }

    .Rectagulo_Habilidades {

        height: 600px;
        bottom: 10000px;
    }

    .description_Habilidades {

        font-size: 600%;
        left: 57%;
        bottom: 10520px;

    }

    .Formacion {

        font-size: 800%;
        bottom: 10300px;
        left: 55%;

    }

    .Linea1 {

        height: 20px;
        bottom: 10250px;

    }

    .Preparatoria{

        font-size: 500%;
        bottom:10158px ;
        left: 55%;
        
    }

    .certificado {

        font-size: 550%;
        bottom:10358px ;
        left: 84%;

    }

    .periodo {

        font-size: 300%;
        bottom: 10350px;
        left: 55%;
    }

    .Linea2 {

        height: 20px;
        bottom: 10240px;

    }

    .Voluntariado {

        font-size: 800%;
        bottom: 10200px;
        left: 55%;

    }

    .Conjuvecyh {

        font-size: 500%;
        bottom:10150px ;
        left: 58%;

    }

    .perido-voluntariado {

        font-size: 400%;
        bottom: 10235px;
        left: 73%;

    }

    .Linea3 {

        height: 20px;
        bottom: 10100px;

    }

    .estadisticas {

        width: 42%;
        height: 42%;

        position: relative;
        left: 55%;
        bottom: 10300px;
    }

    
   


}


    



/* NOTA: PARA LEER EN MODO PC 
EL ZOOM DEL PC DEBE SER IGUAL A 33% DEL ZOOM 
DEL NAVEGADOR */