* {

    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}

nav {

    background:black;
    height: 80px;
    width: 100%;

}

.logo {

    height: 78px;
}

nav ul {

    float: right;
    margin-right:20px;
    padding: 0;
    margin: 0;
    background-color: black;
    border: 0;

}

.box {

    position: relative;
    top: 50%;

}

input.src {

    padding: 3px 34px;
    font-family: sans-serif;
    outline:  none;
    font-size: 18px;
    border-radius: 50px;
    color: blue;
    border: 3px solid blueviolet;
    background: white url(/css/Imagenes/busqueda.png) no-repeat 6px center;
    width: 130px;
    transition: all .5s;

    
}

input.src :hover {

    width: 180px;
    background-color: blue;
    border-color: blue ;
    box-shadow: 0 0 5px blue;

}

nav ul li {

    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    font-size: 20px;
    -webkit-transition: all 500ms ease; 
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border-radius: 50px;

}



nav ul li a {

    color: white;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    
}

li a.active, li a:hover {

    background:blue ;

}

.checkbtn {

    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;

}

#check {

    display: none;

}

.invitacion_git{

  width: 100%;
  
}

.Boton {

    background-color: red;
    color: white;
    border: 2px solid;
    padding: 20px 90px;
    font-size: 30px;
    border-radius: 50px;
   
}

.Boton:hover {

    background-color: #DF0707   ;
    color: #D8D7D7  ;
    transition: color 0.5s, background 0.5s;

}

/* adaptacion moviles */

@media (max-width: 767px) { 
    
    .checkbtn {

        display: block;

    }

    ul {

        position: fixed;
        width: 100%;
        height: 100vh;
        background: blue;
        top: 80px;
        left: 100%;
        text-align: center;
        transition: all .5s;
        z-index: 2;
        
    }

    nav ul li {

        display: block;
        margin: 50px 0;
        line-height: 30px;

    }

    nav ul li a {

        font-size: 20px;

    }

   
    #check:checked ~ul {

        left:0;

    }


    input.src {
    
    display: none;
    
    }

    .Boton {

        padding: 10px 30px;

        position: relative;
        bottom:158% ;
        left: 51%;
        z-index: 1;

        
    }

}

/* adaptacion tablets */ 

@media (min-width: 768px) and (max-width: 1025px) { 

    
    .Boton {

        padding: 30px 90px;
        position: relative;
        bottom:318% ;
        left: 56%;
       

        
    }
    

}

/* adaptación de pantallas de laptop */

@media (min-width: 1026px) and (max-width: 1423px) { 

    .Boton {

        padding: 100px , 500px;
        font-size: 1000%;

        position: relative;
        bottom:600% ;
        left: 50%;
       
    }
}

/* adaptacion pc */

@media (min-width : 1424px) {
    
    .Boton {

        padding: 100px  500px;
        font-size: 1000%;

        position: relative;
        bottom:1500% ;
        left: 55%;
       
    }
}



